<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:insert="~{fragments/common :: meta}"></th:block>
    <th:block th:insert="~{fragments/common :: title}"></th:block>
    <th:block th:insert="~{fragments/common :: link}"></th:block>
</head>
<body>
<th:block th:insert="fragments/common :: header"></th:block>
<div class="container mt-3">
    <form action="/lecture/{{lecture.id}}" method="post">
        <input type="hidden" id="id" value="{{lecture.id}}">
        {{#principal}}

            {{^master}}
                {{#userlecture}}
                <div class="mb-3">
                    Статус лекции: {{userlecture.status}}
                </div>
               {{/userlecture}}

                {{^userlecture}}
                    <div class="mb-3">
                        Статус лекции: не определен
                    </div>
                {{/userlecture}}
            {{/master}}

            <div class="mb-3 mt-3">
                <h1>{{lecture.topic}}</h1>
            </div>
            <hr />
            <div class="mb-3">
                {{{lecture.content}}}
            </div>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            {{^master}}
                <div><input type="submit" class="btn btn-secondary" value="Завершить"/></div>
            {{/master}}
        </form>

         <br><br>
            {{#master}}
    <a href="/lectures">Назад</a> <br>
            {{/master}}
            {{^master}}
    <a href="/user/lectures">Назад</a> <br>
            {{/master}}
        {{/principal}}
</div>

<th:block th:insert="~{fragments/common :: body/script}"></th:block>
<th:block th:insert="fragments/common :: footer"></th:block>
</body>
</html>