<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:insert="~{fragments/common :: meta}"></th:block>
    <th:block th:insert="~{fragments/common :: title}"></th:block>
    <th:block th:insert="~{fragments/common :: link}"></th:block>
</head>
<body>
<th:block th:insert="fragments/common :: header"></th:block>
<div class="container mt-3">
    <h3>Мои лекции:</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Статус</th>
        </tr>
        <tr th:each="lecture : ${lecturesList}" th:onclick="|window.location.href='@{/lecture/${lecture.lecture.id}}'|">
            <td th:utext="${lecture.lecture.id}">Id</td>
            <td th:utext="${lecture.lecture.topic}">Название</td>
            <td th:utext="${lecture.status}">Статус</td>
        </tr>
    </table>
</div>

<th:block th:insert="fragments/common :: footer"></th:block>
</body>
</html>