<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:insert="~{fragments/common :: meta}"></th:block>
    <th:block th:insert="~{fragments/common :: title}"></th:block>
    <th:block th:insert="~{fragments/common :: link}"></th:block>
</head>
<body>
<th:block th:insert="fragments/common :: header"></th:block>
<div class="container mt-3">
    <input type="hidden" id="id" value="{{principal.id}}">
    <h3>Лекции пользователя {{user.username}}:</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Статус</th>

        </tr>

        {{#userLectures}}
            <tr>
                <td>{{id.lectureId}}</td>
                <td>{{lecture.topic}}</td>
                <td>{{status}}</td>
            </tr>
        {{/userLectures}}

    </table>
    <br><br>
    <a href="/users">Назад</a> <br>
</div>

<th:block th:insert="fragments/common :: footer"></th:block>
</body>
</html>